body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
}

/* Body */
body {
    background-color:white;
    color: black;
    font-size: 16px;
}

#grid-layout {
    display: grid;
    grid-template-columns: auto auto; /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    grid-template-columns: 200px 1fr;
    height: 100%;
    padding: 20px;
}

header {
    grid-column: 1 / span 2; /* Span two columns */
    grid-row: 1; /* First row */
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

nav {
    grid-column: 1; /* First column */
    grid-row: 2; /* Second row */
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

main {
    grid-column: 2; /* Second column */
    grid-row: 2; /* Second row */
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

/* Admin: Stock Overview Table*/

 table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
td {
    display: table-cell;
    vertical-align: inherit;
}



th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
