/* Body & HTML */
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Body */
body {
  background-color: white;
  font-size: 16px;
}

/* Header */
header {
  background-color: blue;
  color: white;
  height: 40px;
  font-size: 40px;
}

/* Nav bar */
nav {
  display: flex;
  gap: 30px;
  background-color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Main */
main {
  background-color: white;
  color: black;
  min-height: 76%;
  padding: 20px;
}

#about_us_h2 {
  margin-top: 0px;
}

/* Fotter */
footer {
  display: flex;
  gap: 50px;
  background-color: black;
  color: white;
  justify-content: center;
  padding: 8px;
}

.view-content {
  display: none;
}

.view-content.active {
  display: block;
}

.view-link {
  color: white;
  text-decoration: none;
}

.view-link:hover {
  color: orange;
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 50px;
}

/* Change cursor to a pointer class */
.change_cursor_to_a_pointer_on_hover:hover {
  cursor: pointer;
}

/*toggles elements hidden*/
.hidden {
  display: none;
}

/* grid */
/* .grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 1em;
  padding: 1em;
} */

/* @media (min-width: 550px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1550px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}  */
